.whole {
    background-color: gray;
    color: white;
    font-family: cursive,Arial, 'Arial Black', Verdana, 'Trebuchet MS', Georgia, Tahoma, 'Courier New', 'Times New Roman';
    text-align: left;
}

.header {
    color: skyblue;
    font-size: 45pt;
    font-weight: bold;
    /* font-family: sans-serif;*/
    margin-bottom: 20px;
}

.firstSub {
    color: yellow;

    /*  font-family: 'Courier New', Courier, monospace;*/
}

.span1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.title {
    color: skyblue;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.urlClick{
    width:15%;
}
.happy{
    width:15%;
}
.sad{
    width:12%;
}
.span3{
    font-style: italic;
}
.movie{
    color: yellow;
    font-weight: bold;
}
.directorname{
    padding-left: 43px;
}

a:link{
    color:red;    
}
a:visited{
    color:yellow;
}
a:hover{
    color:blue;
}
a:active{
    color:aqua;
}

a{
    text-decoration: none;
    color: red;
}

.flip:hover{
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
}
.CapFirst::first-letter{
    font-size: xx-large;
    font-weight: bold;
    
}
ol {
    display: flex;
    flex-direction: column-reverse;
}